#nav-voltar {
  background-color: #333;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--sombra-embaixo);
}

#nav-voltar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}

#checkout-container {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

#checkout-container h3 {
  margin-bottom: 0.5em;
}

/* Estilos da Escolha de Entrega */
#checkout-container .tipo {
  width: 100%;
  background-color: #cfffc1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  box-shadow: var(--sombra-box);
}

#checkout-container .tipo #info-entrega-atual {
  text-shadow: var(--sombra-texto);
}

#checkout-container .tipo button {
  background-color: #080;
  color: #fff;
  padding: 0.3em 0.8em;
  border: none;
  outline: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
}

/* Estilos da Retirada */
#checkout-container .endereco-retirada {
  border: 1px solid #e0e0e0;
  padding: 0.5em;
  box-shadow: var(--sombra-box);
}

#checkout-container .endereco-retirada #endereco-loja {
  color: #080;
  font-size: 0.9em;
  font-weight: bold;
}

#checkout-container .endereco-retirada #cidade-loja {
  font-size: 0.8em;
}

/* Estilos dos Totais */
#checkout-container .row {
  padding: 0.3em 0;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos dos Dados Pessoais (Fieldset/Input) */
#checkout-container fieldset {
  padding: 0.3em;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

#checkout-container fieldset:hover {
  border-color: #080;
}

#checkout-container fieldset legend {
  margin: 0 0.5em;
  padding: 0 0.5em;
  font-weight: bold;
  color: #333;
}

#checkout-container fieldset input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1em;
}

/* Estilos do Botão Finalizar */
#checkout-container #btn-finalizar {
  background-color: #080;
  color: #fff;
  padding: 0.5em;
  border: none;
  font-size: 1em;
  font-weight: bold;
  box-shadow: var(--sombra-box);
}
