#nav-voltar {
  background-color: #333;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--sombra-embaixo);
}

#nav-voltar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
}

header {
  position: relative;
  height: 8em;
  background-color: #f5f5f5;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

header .fa-camera-retro {
  content: "\f083";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

header .fa-magnifying-glass-plus {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 2px;
  padding: 0.3em 0;
  position: absolute;
  font-size: 1.5em;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}

.swal2-modal img {
  width: 100%;
}

#produto-box {
  padding: 0.5em;
}

#produto-box fieldset,
#produto-box .box-produto {
  padding: 0.5em;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

#produto-box .box-produto {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#produto-box .box-produto small {
  color: #777;
}

#produto-box .box-produto .agrupar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#produto-box .box-produto .agrupar span {
  font-weight: bold;
  color: #080;
}

#produto-box .box-produto .agrupar div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#produto-box .box-produto .agrupar div input {
  border: none;
  outline: none;
  width: 2em;
  font-size: 1.1em;
  text-align: center;
  padding: 0 0.1em;
}

.fa-plus-circle {
  color: #080;
  font-size: 1.1em;
}

.fa-minus-circle {
  color: #c00;
  font-size: 1.1em;
}

#produto-box fieldset legend {
  margin: 0 0.5em;
  padding: 0 0.5em;
  font-weight: bold;
  color: #333;
}

#produto-box fieldset textarea {
  border: none;
  outline: none;
  width: 100%;
}

#section-complementos {
  padding: 0.5em;
  width: 100%;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7em;
}

#section-complementos .div-complemento {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: var(--sombra-box);
  padding: 0.8em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#section-complementos .div-complemento .qtd-complemento {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-complementos .div-complemento .complemento-descricao-valor p {
  font-weight: bold;
}

#section-complementos .div-complemento .qtd-complemento input {
  border: none;
  outline: none;
  width: 2em;
  font-size: 1em;
  text-align: center;
  padding: 0 0.1em;
}

footer {
  width: 100%;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: var(--sombra-encima);
}

footer button {
  background-color: #080;
  color: #fff;
  font-weight: bold;
  padding: 1em 2em;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  box-shadow: var(--sombra-box);
}
