* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  overflow: hidden;
}

#logo {
  width: 10em;
  border-radius: 5px;
}

#loading {
  width: 100%;
}
