@keyframes loading {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100dvh;
  padding: 1em;
  background-image: url("../images/banner.png");
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.span {
  background-image: radial-gradient(circle, #fff, #ffdd55);
  width: 100%;
  height: 60%;
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 2px 2px 6px 2px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img {
  width: 13em;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 2px #000;
}

.span h4 {
  text-align: center;
  font-family: sans-serif;
  color: #c00;
  text-shadow: 1px 1px 1px #000;
}

.barra {
  background-color: #fff;
  width: 13em;
  padding: 2px 2px;
  border-radius: 50px;
  box-shadow: 2px 2px 6px 2px #000;
}

.length {
  width: 0px;
  background-image: linear-gradient(to right, #020, #0e0);
  padding: 12px 0px;
  animation: loading 3s;
  border-radius: 50px;
}
